{% extends 'kbstack/index.html' %}


{% block body %}

 <table class="table table-striped table-bordered table-hover table-condensed" id="tab1">
     <caption><center><h1 style="color: black;"><b>Instance Details</b></h1></center></caption>
     <thead style="background-color: 	#EBF4FA;  color: black;">
     <tbody>

            <tr>
                <th>Project</th>
                <th>Host</th>
                <th>Image Name</th>
                <th>IP Address</th>
                <th>Size</th>
                <th>Status</th>
                <th>Task</th>
                <th>Power State</th>
                <th>Created at time</th>
                </tr>
            {% for i in server %}

            <tr>
                <td></td>
                <td></td>
                <td>{{i.name}}</td>
                <td>{{i.addresses.public.1.addr}}<br>{{i.addresses.public.0.addr}}</td>
                <td></td>
                <td>{{i.status}}</td>
                <td>{{i.task_state}}</td>
                <td>{{ i.power_state }}</td>
                <td>{{  i.created_at }}</td>

            </tr>
            {% endfor %}

    </tbody>

 </table>

{% endblock %}